{
  "extends": "eslint:recommended",
  "rules": {
    "no-useless-escape": "off",
    "curly": ["warn", "multi-line"],
    "no-redeclare": 2,
    "no-use-before-define": 2,
    "no-unused-vars": ["error", { "args": "none" }],
    "no-undef": 2,
    "no-mixed-spaces-and-tabs": 1,
    "no-nested-ternary": 1,
    "no-var": 2,
    "semi": [2, "always"],
    "keyword-spacing": ["error"],
    "space-before-blocks": ["error"],
    "object-curly-spacing": ["error", "always"],
    "no-multiple-empty-lines": ["error"]
  },
  "plugins": ["@babel", "json"],
  "parserOptions": {
    "ecmaVersion": 2019,
    "babelOptions": {
      "plugins": [
        "@babel/plugin-proposal-class-properties"
      ]
    }
  },
  "parser": "@babel/eslint-parser",
  "env": {
    "node": true,
    "es6": true
  }
}
